<header
  class="bg-gradient-to-r from-blue-500 to-blue-400 shadow-lg py-4 px-8 flex items-center justify-between"
>
  <div class="text-lg font-semibold text-white flex items-center space-x-3">
    <img
      [src]="imageUrl"
      alt="GainNest Logo"
      class="w-12 h-12 mr-3 rounded-full shadow-lg"
    />
    <span class="text-2xl">Stockest Dashboard</span>
  </div>
  <div class="flex items-center space-x-6">
    <!-- Search Icon -->
    <button
      class="text-white focus:outline-none hover:text-blue-200 transition duration-300"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 18h.01M12 3c3.866 0 7 3.134 7 7 0 1.163-.275 2.263-.777 3.222L12 22l-6.223-8.778A6.985 6.985 0 015 10c0-3.866 3.134-7 7-7z"
        ></path>
      </svg>
    </button>
    <!-- Notification Icon -->
    <button
      class="text-white focus:outline-none hover:text-blue-200 transition duration-300"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M5.121 17.804A5 5 0 017.057 9h9.886a5 5 0 011.937 8.804L12 22l-6.879-4.196z"
        ></path>
      </svg>
    </button>

    <!-- Profile Dropdown -->
    <div class="relative">
      <div
        class="flex items-center space-x-3 cursor-pointer"
        (click)="toggleDropdown()"
      >
        <div
          class="w-8 h-8 rounded-full bg-gray-600 flex items-center justify-center text-white"
        >
          <span class="font-semibold">A</span>
        </div>
        <span class="text-white text-sm">Admin</span>
        <svg
          class="w-4 h-4 text-white"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
      </div>

      <div
        *ngIf="dropdownOpen"
        class="absolute right-0 top-12 mt-2 w-40 bg-white text-gray-700 rounded-md shadow-lg z-10"
      >
        <a
          (click)="logout()"
          class="block px-4 py-2 text-sm hover:bg-blue-100 hover:text-blue-600 transition duration-200"
          >Logout</a
        >
      </div>
    </div>
  </div>
</header>
