#tradingview-widget-container {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  overflow: hidden;
}
@media (max-width: 768px) {
  #tradingview-widget-container {
    height: 400px;
  }
}

@media (max-width: 480px) {
  #tradingview-widget-container {
    height: 300px;
  }
}
