<div class="flex min-h-screen items-center justify-center bg-gray-100">
  <div class="w-full max-w-md p-8 bg-white rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6">Enter OTP</h2>

    <div *ngIf="errorMessage" class="text-red-500 text-sm mb-4">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="text-green-500 text-sm mb-4">
      {{ successMessage }}
    </div>

    <form [formGroup]="otpForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <label for="otp" class="block text-gray-700">Enter OTP</label>

      <input
        type="text"
        id="otp"
        formControlName="otp"
        required
        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-green-300 focus:outline-none"
      />
      <div
        *ngIf="
          otpForm.controls['otp'].invalid && otpForm.controls['otp'].touched
        "
        class="text-red-500 text-sm"
      >
        OTP is required and should be at least 4 characters long.
      </div>

      <button
        type="submit"
        [disabled]="loading || otpForm.invalid"
        class="w-full px-4 py-2 mt-4 font-semibold text-white bg-green-600 rounded-lg hover:bg-green-500 focus:outline-none focus:ring focus:ring-green-300"
      >
        Verify OTP
      </button>

      <p class="mt-4 text-center text-gray-600">
        Can't get OTP?
        <button type="button" (click)="resendOtp()">Resend OTP</button>
      </p>

      <div *ngIf="remainingTime > 0" class="text-center text-gray-500 mt-4">
        OTP expires in: {{ remainingTime | number : "2.0" }} seconds
      </div>
      <div *ngIf="remainingTime === 0" class="text-center text-red-500 mt-4">
        OTP expired. Please request a new one.
      </div>
    </form>

    <div *ngIf="loading" class="mt-4 text-center">
      <div class="spinner-border text-[#32de84]" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
